<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--等价于dao接口的实现 namespace必须和接口的类路径一样 -->
<mapper namespace="com.iflytek.bbs.dao.UserDao">
	
	<resultMap type="User" id="UserResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="password" column="password" />
	</resultMap>

	<!-- id必须和接口中的方法名一样 --> 
	<insert id="add" parameterType="User">
		<![CDATA[ 
             insert into user(name,email,password) values(#{name},#{email},#{password})
        ]]>
	
	</insert>
	
	<update id="updatePassword">
		<![CDATA[ 
            update user set password=#{newPassword} where id=#{userId}
        ]]>
	
	</update>
	
	<select id="getUser" resultMap="UserResultMap">
		<![CDATA[ 
            select * from user where email=#{email} and password=#{password}
        ]]>
	
	</select>
	
	<select id="getUserPassword" resultType="String">
		<![CDATA[ 
            select password from user where id=#{userId}
        ]]>
	
	</select> 
	
</mapper>